{
    "version": 3,
    "port": {{ .service.port }},
    "extra_config": {{ marshal .service.extra_config }},
    "host": {{ marshal .service.default_hosts }},
    "endpoints": [
        {{ range $idx, $endpoint := .endpoint.example_group }}
        {{if $idx}},{{end}}
        {
        "endpoint": "{{ $endpoint.endpoint }}",
        "backend": [
            {
                "url_pattern": "{{ $endpoint.backend }}",
                "input_query_strings": [
                    {{range $idx, $param := $endpoint.input_query_strings}}
                    {{if $idx}}, {{end}}
                    "{{$param}}"
                    {{end}}],
                "extra_config": {
                    {{ include "rate_limit_backend.tmpl" }}
                }
            }
        ]}
        {{ end }}
    ]
}
